*{
    font-family: "Josefin Sans", sans-serif;
}

.logo{
    width: 2rem;
    height: auto;
    margin: .75rem .75rem 0 .75rem;
}

.ctn-height{
    min-height: 100vh;
    max-height: 100vh;
}

.ctn-aside{
    min-width: 16rem;
}

.card-easy{
    min-width: 5rem;
    width: 20%;
}
